.main-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: max-content max-content auto;
    grid-template-columns: auto;
}

.invisible {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.transparent {
    background-color: transparent !important;
}

.visuallyhidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

.top-bar {
    grid-row: 1;
    height: 48px;
    width: 100vw;
    display: grid;
    grid-template-rows: max-content;
    grid-template-columns: 1fr 4fr max-content;
    grid-auto-flow: column;
    background-color: #3D3D3D;
    align-content: center;
    align-items: center;
}

.install {
    height: 3.6rem;
    line-height: 3.6rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    color: #fafafa;
    background-color: #1e1e1e;
    text-align: center;
    font-size: 1.1rem;
    margin-right: 1.6rem;
    cursor: pointer;
}

.tab-bar {
    grid-row: 2;
    width: 100%;
    background-color: #252525;
    height: 4.8rem;
    display: grid;
    grid-template-rows: max-content;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    grid-column-gap: 0.2rem;
    align-items: center;
}

.tab-container {
    grid-row: 3;
    display: grid;
    grid-template-rows: auto max-content;
    grid-template-columns: auto;
    justify-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 0.8rem;
}

.footer {
    display: grid;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    grid-column-gap: 0.8rem;
    padding: 0.8rem;
    background-color: var(--bg-layer-2);
}

.tab {
    line-height: 4.8rem;
    font-size: 1.2rem;
    color: #efefef;
    cursor: pointer;
    background-color: #2d2d2d;
    display: grid;
    grid-template-rows: max-content;
    grid-template-columns: repeat(3, max-content);
}

.tab-active {
    background-color: #1e1e1e !important;
    color: #efefef !important;
}

.tab-active > .tab-title {
    color: var(--link-color);
}

.tab-action {
    width: 3.6rem;
    height: 4.8rem;
    text-align: center;
    line-height: 4.8rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1.6rem 1.6rem;
}

.tab-title {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    pointer-events: none;
}

.heading {
    font-size: 1.6rem;
    color: #a8a8a8;
}

.message {
    font-size: 1.4rem;
    color: #a8a8a8;
}

.small {
    font-size: 1.2rem;
    color: #a8a8a8;
}

.name {
    font-size: 1.2rem;
    color: #a8a8a8;
    padding-left: 1.6rem;
}

.standard {
    height: 3.6rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    line-height: 3.6rem;
    font-size: 1.4rem;
    background-color: #3d3d3d;
    color: #efefef;
    pointer-events: all;
    cursor: pointer;
    border: none;
    outline: none;
    text-align: center;
}

input {
    background-color: transparent !important;
    border-bottom: solid 1px #3d3d3d !important;
}

.input-error {
    border: solid 0.5px #CF6679;
}

.git {
    width: 1.6rem;
    height: 1.6rem;
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
    background-size: 1.6rem 1.6rem;
    background-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="%23efefef" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>');
}

.terms {
    cursor: pointer;
    color: #a8a8a8;
    white-space: nowrap;
}

.icon-L {
    font-size: 2.4rem;
}

.icon-M {
    font-size: 1.6rem;
}

.r1c1 {
    grid-row: 1;
    grid-column: 1;
}

.r2c1 {
    grid-row: 2;
    grid-column: 1;
}

.r3c1 {
    grid-row: 3;
    grid-column: 1;
}

.r4c1 {
    grid-row: 4;
    grid-column: 1;
}

.r5c1 {
    grid-row: 5;
    grid-column: 1;
}

.r1c2 {
    grid-row: 1;
    grid-column: 2;
}

.r1c3 {
    grid-row: 1;
    grid-column: 3;
}

.r2 {
    grid-row: 2;
    grid-column: 1/-1;
}

.r1 {
    grid-row: 1;
    grid-column: 1/-1;
}

.icon-text {
    background-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="%23efefef" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-type"><polyline points="4 7 4 4 20 4 20 7"></polyline><line x1="9" y1="20" x2="15" y2="20"></line><line x1="12" y1="4" x2="12" y2="20"></line></svg>');
}

.icon-image {
    background-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="%23efefef" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-image"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><circle cx="8.5" cy="8.5" r="1.5"></circle><polyline points="21 15 16 10 5 21"></polyline></svg>');
}

.icon-audio {
    background-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="%23efefef" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-headphones"><path d="M3 18v-6a9 9 0 0 1 18 0v6"></path><path d="M21 19a2 2 0 0 1-2 2h-1a2 2 0 0 1-2-2v-3a2 2 0 0 1 2-2h3zM3 19a2 2 0 0 0 2 2h1a2 2 0 0 0 2-2v-3a2 2 0 0 0-2-2H3z"></path></svg>');
}

.icon-pdf {
    background-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="289.984" height="289.984" viewBox="0 0 289.984 289.984" xml:space="preserve"> <g id="icon" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;" transform="translate(-1.611022222222232 -1.611022222222232) scale(3.22 3.22)" ><path d="M 24.731 57.127 v -4.129 c 0 -0.444 -0.361 -0.806 -0.806 -0.806 H 20.05 v 5.74 h 3.876 C 24.37 57.933 24.731 57.571 24.731 57.127 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(250,250,250); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" /><path d="M 39.841 63.508 V 53.286 c 0 -0.604 -0.491 -1.094 -1.094 -1.094 H 35.16 v 12.41 h 3.587 C 39.351 64.603 39.841 64.111 39.841 63.508 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(250,250,250); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" /><path d="M 81.979 17.233 L 66.215 1.469 C 65.282 0.535 63.99 0 62.67 0 H 20.59 c -2.764 0 -5.013 2.249 -5.013 5.013 v 36.168 h -4.28 c -2.617 0 -4.745 2.084 -4.745 4.646 v 25.139 c 0 2.563 2.128 4.646 4.745 4.646 h 4.28 v 9.374 c 0 2.764 2.249 5.013 5.013 5.013 h 57.844 c 2.764 0 5.013 -2.249 5.013 -5.013 v -64.21 C 83.447 19.438 82.926 18.179 81.979 17.233 z M 18.05 68.603 c -1.104 0 -2 -0.896 -2 -2 v -6.67 v -9.74 c 0 -1.104 0.896 -2 2 -2 h 5.876 c 2.65 0 4.806 2.156 4.806 4.806 v 4.129 c 0 2.649 -2.156 4.806 -4.806 4.806 H 20.05 v 4.67 C 20.05 67.707 19.154 68.603 18.05 68.603 z M 79.447 84.987 c 0 0.559 -0.454 1.013 -1.013 1.013 H 20.59 c -0.559 0 -1.013 -0.454 -1.013 -1.013 v -9.374 h 44.425 c 2.616 0 4.745 -2.084 4.745 -4.646 V 45.828 c 0 -2.562 -2.129 -4.646 -4.745 -4.646 H 19.578 V 5.013 C 19.578 4.454 20.032 4 20.59 4 h 41.328 v 12.784 c 0 2.617 2.129 4.745 4.745 4.745 h 12.784 V 84.987 z M 31.16 66.603 v -16.41 c 0 -1.104 0.896 -2 2 -2 h 5.587 c 2.809 0 5.094 2.285 5.094 5.094 v 10.222 c 0 2.81 -2.285 5.095 -5.094 5.095 H 33.16 C 32.055 68.603 31.16 67.707 31.16 66.603 z M 54.255 56.397 c 1.104 0 2 0.896 2 2 s -0.896 2 -2 2 h -3.686 v 6.205 c 0 1.104 -0.896 2 -2 2 s -2 -0.896 -2 -2 v -16.41 c 0 -1.104 0.896 -2 2 -2 h 8.682 c 1.104 0 2 0.896 2 2 s -0.896 2 -2 2 h -6.682 v 4.205 H 54.255 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(250,250,250); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" /></g></svg>');
}

.icon-video {
    background-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="%23efefef" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-video"><polygon points="23 7 16 12 23 17 23 7"></polygon><rect x="1" y="5" width="15" height="14" rx="2" ry="2"></rect></svg>');
}

.icon-md {
    background-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24pt" height="24pt"><defs><clipPath id="_clipPath_Pb4hgchWhJTh75pgVbQF6x8Xd7Eq0OKg"><rect width="24" height="24"/></clipPath></defs><g clip-path="url(%23_clipPath_Pb4hgchWhJTh75pgVbQF6x8Xd7Eq0OKg)"><path d="M 2.939 1.5 L 22.061 1.5 C 22.855 1.5 23.5 2.145 23.5 2.939 L 23.5 22.061 C 23.5 22.855 22.855 23.5 22.061 23.5 L 2.939 23.5 C 2.145 23.5 1.5 22.855 1.5 22.061 L 1.5 2.939 C 1.5 2.145 2.145 1.5 2.939 1.5 Z" style="fill:none;stroke:%23efefef;stroke-width:1;stroke-miterlimit:2;"/><path d=" M 3.03 16.121 L 3.03 7.879 L 5.455 7.879 L 7.879 10.909 L 10.303 7.879 L 12.727 7.879 L 12.727 16.121 L 10.303 16.121 L 10.303 11.394 L 7.879 14.424 L 5.455 11.394 L 5.455 16.121 L 3.03 16.121 Z  M 18.182 16.121 L 14.545 12.121 L 16.97 12.121 L 16.97 7.879 L 19.394 7.879 L 19.394 12.121 L 21.818 12.121 L 18.182 16.121 Z " fill="rgb(250,250,250)"/></g></svg>');
}

.icon-form {
    background-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="%23efefef" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>');
}

.icon-download {
    background-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="%23efefef" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-download"><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><polyline points="7 10 12 15 17 10"></polyline><line x1="12" y1="15" x2="12" y2="3"></line></svg>');
}

.icon-editdoc {
    background-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="%23efefef" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg>');
}

.icon-edit {
    background-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="%23efefef" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg>');
}

.icon-remove {
    background-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="%23efefef" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-scissors"><circle cx="6" cy="6" r="3"></circle><circle cx="6" cy="18" r="3"></circle><line x1="20" y1="4" x2="8.12" y2="15.88"></line><line x1="14.47" y1="14.48" x2="20" y2="20"></line><line x1="8.12" y1="8.12" x2="12" y2="12"></line></svg>');
}

.icon-down {
    background-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="%23efefef" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-down"><line x1="12" y1="5" x2="12" y2="19"></line><polyline points="19 12 12 19 5 12"></polyline></svg>');
}

.icon-up {
    background-image: url('data:image/svg+xml; utf8,  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="%23efefef" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-up"><line x1="12" y1="19" x2="12" y2="5"></line><polyline points="5 12 12 5 19 12"></polyline></svg>');
}

.icon-close {
    background-image: url('data:image/svg+xml; utf8,  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="%23efefef" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>');
}

.icon-new {
    background-image: url('data:image/svg+xml; utf8,  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="%23efefef" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>');
}

.text-editor {
    width: 100vw;
    max-width: 60rem;
}

.text-editor-toolbar {
    background-color: #fff;
}

.form {
    font-size: 1.4rem;
    display: grid;
    grid-template-rows: repeat(4, max-content);
    grid-template-columns: auto max-content;
    grid-row-gap: 1.6rem;
    justify-items: center;
    padding-bottom: 1.6rem;
    justify-self: center;
}

.action-row {
    padding: 0.8rem;
    justify-self: end;
    display: grid;
    grid-template-rows: max-content;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
}

.action-buttons {
    padding: 0.8rem;
    display: grid;
    grid-template-rows: max-content;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    justify-content: center;
}

.action {
    width: 3.6rem;
    height: 3.6rem;
    line-height: 3.6rem;
    text-align: center;
    cursor: pointer;
    color: #fafafa;
    font-size: 1.6rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.6rem 1.6rem;
}

.component-action-row {
    align-self: start;
    padding: 0.8rem;
    grid-row: 1;
    grid-column: 3;
    justify-self: end;
    display: grid;
    grid-template-rows: max-content;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    z-index: 1;
    background-color: #252525;
}

.component {
    grid-row: 1;
    grid-column: 1/-1;
    width: 100%;
    background-color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 1.4rem;
}

.confirmation, .close-confirmation {
    grid-row: 1;
    grid-column: 1/-1;
    display: grid;
    grid-template-rows: max-content;
    grid-template-columns: auto;
    grid-row-gap: 1.6rem;
    padding: 1.6rem;
    width: 20rem;
    align-self: center;
    justify-self: center;
    text-align: center;
    z-index: 1;
    background-color: #1e1e1e;
}

.menu-bar {
    grid-row: 2;
    grid-column: 1/4;
    height: 4.8rem;
    display: grid;
    grid-template-rows: max-content;
    grid-auto-columns: max-content;
    grid-column-gap: 1px;
    grid-auto-flow: column;
}

.ext {
    background-color: #3d3d3d;
    justify-self: end;
    align-self: center;
    line-height: 4.0rem;
    font-size: 1.2rem;
    padding-right: 0.8rem;
}

.new-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: max-content;
    grid-row-gap: 1.6rem;
    align-self: center;
    justify-self: center;
    text-align: center;
}

.filer-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: max-content;
    grid-row-gap: 1.6rem;
    align-self: center;
    justify-self: center;
    text-align: center;
}

.file-container {
    width: 100%;
    max-width: 60rem;
    display: grid;
    grid-auto-rows: max-content;
    grid-template-columns: auto;
    color: #000;
}


.file-container h1, .file-container h2, .file-container h3, .file-container > * {
    color: #000;
}

.new-component-container {
    display: grid;
    grid-template-rows: max-content max-content;
    grid-template-columns: 6.4rem 1fr minmax(6.4rem, max-content);
    align-items: center;
    justify-items: center;
    justify-content: center;
    background-color: #252525;
    padding: 1.6rem;
}

.drive-container {
    display: grid;
    grid-template-rows: max-content auto;
    grid-template-columns: auto;
    grid-row-gap: 1.6rem;
    justify-items: center;
    justify-content: center;
    padding: 1.6rem;
}

.password-container {
    display: grid;
    grid-template-rows: max-content max-content;
    grid-template-columns: auto max-content;
    grid-row-gap: 1.6rem;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.edit-component-container {
    display: grid;
    grid-template-rows: max-content max-content;
    grid-template-columns: minmax(6.4rem, max-content) 1fr minmax(6.4rem, max-content);
    align-items: center;
    justify-content: center;
    background-color: #252525;
}

.component-container {
    display: grid;
    grid-template-rows: max-content;
    grid-template-columns: 6.4rem 1fr minmax(6.4rem, max-content);
    align-items: center;
    justify-items: center;
    justify-content: center;
    background-color: #252525;
    border-width: 0px;
    border-color: #252525;
    border-style: solid;
}

.download-container {
    display: grid;
    grid-auto-rows: max-content;
    grid-template-columns: auto;
    grid-row-gap: 1.6rem;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.spacer-8 {
    height: 0.8rem;
    line-height: 0.8rem;
}

.spacer-16 {
    height: 1.6rem;
    line-height: 1.6rem;
}

.spacer-32 {
    height: 3.2rem;
    line-height: 3.2rem;
}

.spacer-64 {
    height: 6.4rem;
    line-height: 6.4rem;
}